.container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
    box-shadow: 1px 1px 13px 13px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.icon{
    font-size: 40px;
}
.editIcon{
    font-size: 40px;
    cursor: pointer;
}
.editIcon :hover{
    color:blue;
}
.content{
    padding: 5px 5px 12px 12px;
    font-size: 25px;
}