.headingContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px 200px 0px 200px;
}

.item{
    align-self: start;
    /* border: 1px solid red; */
    height: max-content;
    width: 500px;
}
.fetchedImage{
    margin-top: 1px;
}
.fetchedImage > img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 5px;
}
.containerRes {
    /* border: 1px solid black; */
    margin-top: 50px;
    padding-left: 297px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}